
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env/
.venv/
env/
venv/
instance/
.env


*.db
*.sqlite3
*.log

.vscode/

.DS_Store
Thumbs.db

*.pt
*.bin
*.h5
*.npy
*.npz

dist/
node_modules/
*.log

*.pdf
*.xlsx
*.xls

test.py
loader.py
extracter.py